

:root {
	--md-primary-fg-color: #ff602f;
	--md-primary-bg-color: #ffffff;
	--md-footer-bg-color: #444444;
	--md-footer-bg-color--dark: #040404;
}
[data-md-color-scheme="Light"] {
	--md-default-bg-color: #f0f0f0;
	--md-default-fg-color--light: #4e4e4e;

	--md-accent-fg-color: #906fa7;
	
	--md-code-fg-color: #000000;
	
	--md-code-hl-variable-color: var(--md-code-fg-color);
	--md-code-hl-operator-color: #7f7f00;
	--md-code-hl-string-color: #7f007f;
	--md-code-hl-number-color: #007f7f;
	--md-code-hl-keyword-color: #00007f;
	--md-code-hl-function-color: #0074bd;
	--md-code-hl-generic-color: var(--md-code-fg-color);
	--md-code-hl-punctuation-color: var(--md-code-fg-color);
	--md-code-hl-name-color: var(--md-code-fg-color);
	--md-code-hl-comment-color: #007f09;
	
	--md-admonition-fg-color: var(--md-code-fg-color);
    --md-admonition-bg-color: var(--md-code-bg-color);
	
	--md-typeset-a-color: #4d4d92;
}
[data-md-color-scheme="Dark"] {
	--md-default-bg-color: #1f1f1f;
	--md-default-fg-color: #ffffff;
	--md-default-fg-color--light: #c5c5c5;
	--md-default-fg-color--ligther: #ababab;
	--md-default-fg-color--lightest: #8f8f8f;
	--md-default-fg-color--dark: #868686;

	--md-accent-fg-color: #8f71a3;
	
	--md-code-bg-color: #252525;
	--md-code-fg-color: #cccccc;
	
	--md-code-hl-variable-color: var(--md-code-fg-color);
	--md-code-hl-operator-color: var(--md-code-fg-color);
	--md-code-hl-string-color: #adf195;
	--md-code-hl-number-color: #ffc600;
	--md-code-hl-keyword-color: #f86d7c;
	--md-code-hl-function-color: #fdfbac;
	--md-code-hl-generic-color: var(--md-code-fg-color);
	--md-code-hl-punctuation-color: var(--md-code-fg-color);
	--md-code-hl-name-color: var(--md-code-fg-color);
	--md-code-hl-comment-color: #666666;
	
	--md-admonition-fg-color: var(--md-code-fg-color);
    --md-admonition-bg-color: var(--md-code-bg-color);
	
	--md-typeset-a-color: #9f9fca;
}
